@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(:not(.light)));

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-stunning-blue: oklch(0.7486 0.1719 209.03);
}

:root {
    --radius: 0.625rem;
    --background: var(--color-slate-950);
    --foreground: var(--color-slate-50);
    --card: var(--color-slate-950);
    --card-foreground: var(--color-slate-50);
    --popover: var(--color-slate-950);
    --popover-foreground: var(--color-slate-50);
    --primary: var(--color-stunning-blue);
    --primary-foreground: var(--color-slate-950);
    --secondary: var(--color-slate-900);
    --secondary-foreground: var(--color-slate-50);
    --muted: var(--color-slate-900);
    --muted-foreground: var(--color-slate-400);
    --accent: var(--color-slate-900);
    --accent-foreground: var(--color-slate-50);
    --destructive: var(--color-red-700);
    --border: color-mix(in oklch, var(--color-slate-50) 20%, transparent);
    --input: color-mix(in oklch, var(--color-slate-50) 15%, transparent);
    --ring: color-mix(in oklch, var(--color-slate-50) 20%, transparent);
}

.light {
    --background: var(--color-white);
    --foreground: var(--color-slate-950);
    --card: var(--color-white);
    --card-foreground: var(--color-slate-950);
    --popover: var(--color-white);
    --popover-foreground: var(--color-slate-950);
    --primary: var(--color-stunning-blue);
    --primary-foreground: var(--color-white);
    --secondary: var(--color-slate-100);
    --secondary-foreground: var(--color-slate-950);
    --muted: var(--color-slate-100);
    --muted-foreground: var(--color-slate-600);
    --accent: var(--color-slate-200);
    --accent-foreground: var(--color-slate-950);
    --destructive: var(--color-red-500);
    --border: color-mix(in oklch, var(--color-slate-950) 15%, transparent);
    --input: color-mix(in oklch, var(--color-slate-950) 10%, transparent);
    --ring: color-mix(in oklch, var(--color-slate-950) 15%, transparent);
}

@layer base {
    * {
        @apply select-none;
    }

    body {
        @apply bg-slate-100 dark:bg-black text-foreground overflow-hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    img {
        -webkit-user-drag: none;
    }

    a {
        @apply block;
    }

    #app {
        @apply h-screen flex flex-col;
    }
}

::-webkit-scrollbar {
    @apply w-1 h-1;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-foreground/15;
}

html:active-view-transition-type(slide-left) {
    &::view-transition-old(onboarding-content) {
        animation: 300ms cubic-bezier(0.22, 1, 0.36, 1) slide-out-left;
    }
    &::view-transition-new(onboarding-content) {
        animation: 300ms cubic-bezier(0.22, 1, 0.36, 1) slide-in-left;
    }
}

[data-sonner-toast][data-styled=true] {
    @apply h-auto p-3 flex items-start;
}

[data-sonner-toast][data-styled=true] [data-icon] {
    @apply size-5 m-0;
}

[data-sonner-toast][data-styled=true] [data-content] {
    @apply flex-1 gap-1;
}

[data-sonner-toast][data-styled=true] [data-title] {
    @apply text-sm font-medium;
}

[data-sonner-toast][data-styled=true] [data-description] {
    @apply text-xs text-muted-foreground line-clamp-2;
}

[data-sonner-toast][data-styled=true] [data-close-button] {
    @apply size-3 top-3 left-auto right-3 text-muted-foreground! bg-transparent! border-0! rounded-none! transform-none! transition;
}

[data-sonner-toast][data-styled=true] [data-close-button]:hover {
    @apply text-foreground! bg-transparent!;
}

[data-sonner-toast][data-expanded=false] {
    @apply [--lift-amount:10px]!;
}

[data-sonner-toaster][data-sonner-theme=light], [data-sonner-toaster][data-sonner-theme=dark] {
    --normal-bg: var(--color-popover);
    --normal-border: var(--color-border);
    --normal-text: var(--color-foreground);
}

@keyframes slide-out-left {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-12px);
    }
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(12px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}